body {
  padding-top: 50px;
}

.upload-box {
  padding: 40px 15px;
  text-align: center;
}
input[type=file] {
  display: inline;
}
input[type] {
  display: inline;
}

iframe {
  margin-left: 50%;
  width: 50%;
  height: 100%;
  position: absolute;
}

#frame{
  align:right;
}

#description {
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
width: 50%;
height: 100%;
position: absolute;
padding-left: 50px;
padding-top: 100px;
font-size: 110%;
font-family: georgia,serif;
}

.x-frame-warning {
  font-size: 75%;
}
