<!doctype html>
<html>
<head>
  <title>Price Drop</title>
</head>
<body>
  <form action="/upload" method="post" enctype="multipart/form-data">
    <label for="file">Choose a file: </label>
    <input type="file" name="csv_file">
    <input type="submit" value="Upload CSV file">
  </form>
</body>
</html>
